.wrapper {
  height: 100vh;
  background: #f8f6f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizard {
  width: 640px;
  position: relative;
  background: purple;
}

.wizard-inner {
  display: flex;
  background: #fff;
  box-shadow: 
    /*The top layer shadow*/ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15);
}

.image-holder {
  width: 200px;
  height: 460px;
}

.image-holder .img {
  height: 460px;
}

.form-content {
  width: 440px;
  height: 330px;
}

.steps {
  text-align: right;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #e4e3e3;
}

.steps h1 {
  font-size: 50px;
  padding-right: 60px;
}

.steps h2 {
  font-size: 22px;
  margin-top: -70px;
  padding-right: 40px;
}

.form-header {
  text-align: center;
  margin-top: -20px;
}

.form-header h2 {
  text-align: center;
  font-family: "Muli-SemiBold";
  font-size: 40px;
  color: #6d0f80;
  text-transform: uppercase;
  letter-spacing: 7px;
  /* padding: 5px 15px; */
  display: inline-block;
}

p {
  font-family: "Muli-SemiBold";
  font-size: 16px;
  color: #5f5e5e;
}

.note {
  font-family: "Muli-SemiBold";
  font-size: 10px;
  color: #5f5e5e;
  margin-top: -10px;
}

.linkedin p {
  padding-left: 64px;
}

.linkedinLogo {
  text-align: center;
  padding: 30px 0px;
}

.github {
  /* padding-left: 40px; */
  text-align: center;
  padding-top: 30px;
}

.user-id {
  height: 37px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  width: 40%;
  color: #666;
  outline: none;
}
.user-id:focus {
  border-color: #e9e0cf;
}
.user-id::-webkit-input-placeholder {
  color: #999;
}
.user-id::-moz-placeholder {
  color: #999;
}
.user-id:-ms-input-placeholder {
  color: #999;
}
.user-id:-moz-placeholder {
  color: #999;
}

.success {
  padding: 0px 30px 0px 64px;
}

.success h1 {
  color: #3f3e3e;
}
.next {
  text-align: right;
  padding: 10px 40px 0px 0px;
}

.next button {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5f5e5e;
  border: 1px solid #5f5e5e;
  background-color: #fff;
  padding: 5px 10px;
}
